.admin__button{
    display: block;
    margin: 10px auto 0;
    padding: 18px 30px !important;
    color: #fff;
    border: none !important;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;

    background: #000;
    border-radius: 4px;

    cursor: pointer;

    transition: all .2s linear;

    &:hover{
        background: #333;
    }
}