@media (max-width: $breakpoint_xxl) {
    .workers__item{
        width: 100%;
        margin-right: 0;
    }
}

@media (max-width: $breakpoint_sm) {
    .workers__item{
        width: 100%;
        min-height: 200px;
        height: auto;

        margin-right: 0;
        display: block;

        margin-top: 10px;
    }

    .workers__img{
        margin-top: 10px;
    }

    .workers__link{
        display: none;
    }

    .workers__link-mobile{
        display: block;
    }
}