@media (max-width: $breakpoint_md){
    .reviews__item{
        display: block;
    }

    .reviews__title{
        font-size: 18px;
    }
    
    .reviews__text{
        font-size: 14px;
    }
    
}

@media (max-width: $breakpoint_sm){
    .reviews__img{
        display: block;
        margin: 0 auto;
        padding: 5px 0;
    }

    .reviews__header{
        display: block;
        text-align: center;
    }

    .reviews__content{
        margin-left: 0;
    }

    .reviews__text{
        text-align: center;
    }

   
}
